@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500;9..40,700&display=swap");

:root {
  --clr-dark: hsl(253, 69%, 8%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-purple: #140942;
  --clr-blue: #3b1cc4;
  --clr-white-g:hsl(0, 0%, 100%);
  --clr-gray: hsla(0, 1%, 65%, 1);
  --clr-pink: #E93A7D;
  --bg-hero: #ffffff;
  --clr-cyan:#25DAC5;

  --ff-sans: "DM sans", sans-serif;
}

body{
  background-color: rgb(206, 206, 206);

}

.h2__id{
  font-family: var(--ff-sans);
  font-size: 5rem;
  text-align: center;
}

.paragrapheid{
  font-family: var(--ff-sans);
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}

