.nav__9 {
    color: var(--clr-white);
    background-color: var(--clr-purple);

    font-family: var(--ff-sans);
    margin: 1rem;
}

.nav__9-logo{
    margin-right: auto;
}

.nav__9-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav__9-item{
    display: flex;
    justify-self: center;
}
