.ecommerce__3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-bottom: 5rem;
  font-family: var(--ff-sans);
  color: var(--clr-purple);
  text-align: center;
  background-color: var(--bg-hero);
  background-image: linear-gradient(90deg, rgba(19, 67, 77, 0.7) 0%, rgba(86, 22, 91, 0.7) 100%), var(--bg-hero);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ecommerce__3-title {
  margin: 0;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 2.5px;
  color: var(--clr-purple);
  width: 60rem;
}

.ecommerce__3-desc {
  color: var(--clr-gray);
  font-size: 1.2rem;
  padding-bottom: 2rem;
  width: 40rem;
}

.ecommerce__3-flex {
  display: flex;
  flex-direction: row;
}

.ecommerce__3-h2 {
  color: var(--clr-blue);
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.ecommerce__3-button {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--clr-white);
  background-color: var(--clr-blue);
  border-radius: 2rem;
  border: none;
  padding: 1.5rem 2rem 1rem;
  box-shadow: rgba(0, 3, 2, 0.16);
}

.ecommerce__3-button:hover {
  background-color: var(--clr-cyan);
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  color: #ffffff;
}

.ecommerce__3-image-size {
  width: 8rem;
  height: 8rem;
  margin: 4rem 0 1rem;
}
