.hero__2 {
    display: block;
    margin: 2rem auto;
    padding: 0;
    font-family: var(--ff-sans);
    color: var(--clr-white);
    text-align: center;
    background-color: var(--bg-hero);
    background-image: linear-gradient(
        90deg,
        rgba(19, 67, 77, 0.7) 0%,
        rgba(86, 22, 91, 0.7) 100%
    ),
    var(--bg-hero);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero__2-title {
    display: block;
    max-width: 12ch;
    margin: 0 auto;
    font-size: 4.5rem;
    font-weight: 700;
    letter-spacing: 2.6px;
    color: var(--clr-white);
}

.hero__2-desc {
    display: block;
    max-width: 35ch;
    margin: 2rem auto;
    font-size: 1.375rem;
    font-weight: 500;
    line-height: 1.5;
    color: var(--clr-white);
    padding-bottom: 4rem;
}

.hero__nav__10 {
    display: block;
    color: var(--clr-white);
    background-color: var(--clr-transparent);
    font-family: var(--ff-sans);
    margin: 1rem;
}

.hero__nav__10-logo {
    display: block;
    margin-right: auto;
}

.hero__nav__10-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-right: auto;
}

.hero__nav__10-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.hero__nav__10-item {
    display: flex;
    justify-self: center;
    color: var(--clr-white);
    text-decoration: none;
}

.hero__nav__10-buton {
    display: inline-block;
    background-color: var(--clr-blue);
    border-radius: 2rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}
