<section
  class="hero__2"
  style="--bg-hero: url('assets/hero-bg.jpg')">
  <nav class="hero__nav__10">
    <ul class="hero__nav__10-list">
      <div class="hero__nav__10-logo">
        <li><strong>{{logo}}</strong></li>
      </div>
      <div class="hero__nav__10-center">
        <li class="hero__nav__10-item">{{items}}
          
        </li>
      </div>
      <div class="hero__nav__10-list">
        <li class="hero__nav__10-buton">{{button}}</li>
      </div>
    </ul>
  </nav>
  <h1 class="hero__2-title hero__2-title">{{title}}</h1>
  <p class="hero__2-desc">
    {{desc}}
  </p>
</section>