.nav__6 {
    color: var(--clr-purple);
    background-color: var(--clr-white);

    font-family: var(--ff-sans);
    margin: 1rem;
}

.nav__6-logo{
    margin-right: auto;
}

.nav__6-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-right: auto;
}

.nav__6-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav__6-item{
    display: flex;
    justify-self: center;
    color: var(--clr-purple);
    text-decoration: none;
}

.nav__6-buton{
    color: var(--clr-purple);
    background-color: var(--clr-transparant);
    border: solid rgba(156, 156, 156, 0.3) 0.2rem;
    border-radius: 2rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

.nav__6-buton:hover {
    background-color: var(--clr-cyan);
    color: var(--clr-white);
}

.nav__6-item:hover {
    color: var(--clr-cyan);
}


