
.gallery {
  display: grid;
  background-color: var(--clr-white);
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  padding: 20px;
  max-width: 110rem;
  margin: 0 auto;
}

body {
  background-color: var(--clr-white);
}

.card {
  min-width: fit-content;
  background-color: #fff;
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(12, 0, 0, 0.199);
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}

.card h3 {
  font-size: 1.2em;
  margin: 2rem 0 1rem;
  color: #333;
  max-width: 8rem;
}

.card p {
  font-size: 0.9em;
  color: #666;
  margin-bottom: 2rem;
  text-transform: uppercase;
}