    <section
      class="hero__3"
        style="--bg-hero: url('assets/hero-bg.jpg')"
    >
      <nav class="hero__3__nav__2">
        <ul class="hero__nav__2-list">
          <li class="hero__nav__2-logo"><strong>{{logo}}</strong></li>
          <li class="hero__nav__2-item">{{items}}
            <li class="hero__nav__2-buton">{{buttonnav}}</li>
        </ul>
      </nav>
      <h1 class="hero__3-title">{{title}}</h1>
      <p class="hero__3-desc">
        {{desc}}
      </p>
      <input
        class="hero__3-email"
        id="site-mail"
        name="q"
        placeholder="Your email"
      />
      <button class="hero__nav__2-buton-2">{{button}}</button>
      <p class="hero__3-desc2">
        {{terms}}
      </p>
    </section>