.hero__5 {
    color: var(--clr-white);
    background-color: var(--bg-hero);
    background-image: linear-gradient(
        90deg,
        rgba(77, 57, 19, 0) 0%,
        rgba(91, 71, 22, 0) 100%
      ),
      var(--bg-hero);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: var(--ff-sans);
    text-align: center;
}

.hero__5-title {
    padding-top: 5rem;
    font-size: 2.8rem;
    font-weight: 700;
    letter-spacing: 2.6px;
    color: var(--clr-white);
}

.hero__5-desc {
    max-width: 50ch;
    margin: 2rem auto;
    font-size: 1.375rem;
    font-weight: 500;
    line-height: 1.5;
    color: var(--clr-white);
}

.hero__5-nav__9 {
    color: var(--clr-white);
    background-color: var(--clr-transparent);
    font-family: var(--ff-sans);
    margin: 1rem;
}

.hero__5-nav__9-logo {
    margin-right: auto;
}

.hero__5-nav__9-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-right: auto;
}

.hero__5-nav__9-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.hero__5-nav__9-item {
    display: flex;
    justify-self: center;
    gap: 3rem;
    padding-bottom: 4rem;
}

img {
    width: 20px;
    height: 20px;
}

.hero__5-nav__9-buton {
    color: var(--clr-white);
    background-color: var(--clr-mocha);
    border-radius: 2rem;
    padding: 0.9rem 1.5rem 0.8rem 1.5rem;
    border: 0rem;
}

.hero__5-nav__9-buton:hover {
    background-color: var(--clr-mocha-dark);
}

.hero__5-item-icon {
    transition: transform 0.2s ease-in-out;
}

.hero__5-item-icon:hover {
    transform: scale(1.8);
}

.hero__5-flex {
    display: flex;
    justify-content: center;
    justify-self: center;
}

.hero__5-email {
    background-color: var(--clr-transparent);
    color: white;
    width: 210px;
    padding: 10px 20px;
    padding-left: 1.5rem;
    margin-right: 1.5rem;
    border: solid rgba(255, 252, 247, 0.541) 0.2rem;
    border-radius: 20px;
    outline: none;
    font-size: 1rem;
}

.hero__5-email::placeholder {
    color: rgb(255, 255, 255);
}

.hero__5-desc-2 {
    padding-top: 2rem;
    text-transform: uppercase;
    margin: 2rem auto;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1.5;
    color: var(--clr-white);
}
