.ecommerce__2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 2rem 0 5rem;
  font-family: var(--ff-sans);
  color: var(--clr-purple);
  text-align: center;
  background-color: var(--bg-hero);
  background-image: linear-gradient(90deg, rgba(19, 67, 77, 0.7) 0%, rgba(86, 22, 91, 0.7) 100%), var(--bg-hero);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ecommerce__2-title {
  margin: 0;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 2.5px;
  color: var(--clr-purple);
  padding-left: 3rem;
  width: 71rem;
}

.ecommerce__2-desc {
  color: var(--clr-gray);
  font-size: 1.2rem;
  padding: 1rem 0 2rem;
  width: 32rem;
}

.ecommerce__2-h2 {
  color: var(--clr-purple);
  font-size: 1.2rem;
}

.ecommerce__2-button {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--clr-white);
  background-color: var(--clr-cyan);
  border-radius: 2rem;
  border: none;
  padding: 1.5rem 2rem 1rem;
  margin: 3.5rem 0 4rem;
  box-shadow: rgba(0, 3, 2, 0.16);
}

.ecommerce__2-button:hover {
  background-color: var(--clr-blue);
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  color: #ffffff;
}

.ecommerce__2-image-size {
  width: 6rem;
  height: 6rem;
  margin: 4rem 0 2rem;
}
