@import url('https://fonts.googleapis.com/css2?family=Playwrite+VN:wght@100..400&display=swap');

.nav__14 {
    color: var(--clr-white);
    background-color: var(--clr-mocha);
    font-family: var(--ff-sans);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav__14-logo {
    margin-right: auto;
    font-size: 2rem;
    font-family: "Playwrite VN", serif;
}

ul {
    padding: 2rem 4rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

li {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.nav__14-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav__14-item {
    display: flex;
    justify-self: center;
    color: var(--clr-white);
    text-decoration: none;
    transition: color 0.3s ease;
    position: relative;
}

.nav__14-item:hover {
    color: var(--clr-mocha-dark);
}

.nav__14-item::after {
    content: "";
    position: absolute;
    bottom: -1rem;
    left: 50%;
    right: 50%;
    height: 2px;
    background-color: #ffffff;
    transition: left 0.2s ease-in-out, right 0.2s ease-in-out;
}

.nav__14-item:hover::after {
    left: 0;
    right: 0;
}

img {
    width: 50px;
    height: 50px;
}

.logo {
    scale: 500%;
}