
    <section class="hero__4" style="--bg-hero: url('assets/AIR1.jpg')">
      <nav class="hero__4-nav__12">
        <ul class="hero__4-nav__12-list">
          <li class="hero__4-nav__12-logo"><strong>{{logo}}</strong></li>
          <li class="hero__4-nav__12-item">{{items}}</li>
          <li class="hero__4-nav__12-buton">{{buttonnav}}</li>
        </ul>
      </nav>
      <div class="hero__4-gauche">
        <h1 class="hero__4-title">{{title}}</h1>
        <p class="hero__4-desc">
          {{desc}}
        </p>
          {{itemsbutton}}
      </div>
    </section>