.content__3 {
  margin: 2rem;
  padding: 5rem;
  font-family: var(--ff-sans);
  color: var(--clr-white);
  text-align: center;
  background-color: var(--bg-hero);
  background-image: linear-gradient(
    90deg,
    rgba(19, 67, 77, 0.7) 0%,
    rgba(86, 22, 91, 0.7) 100%
  ),
  var(--bg-hero);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.contents__3-desc {
  display: flex;
  text-align: left;
  padding: 0;
  padding-top: 2rem;
  padding-left: 5rem;
  max-width: 50%;
  color: rgb(173, 173, 173, 60%);
}

.contents__3-title {
  margin: 0;
  padding-left: 4rem;
  padding-right: 4rem;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 2.6px;
  color: var(--clr-blue);
}

.content__3-flex {
  display: flex;
  padding-left: 6rem;
  padding-right: 6rem;
}
