<!-- template.html -->
<template id="content9-template">
  <section class="content-test">
    <nav class="content__nav">
      <ul class="content__list">
        <li class="content__img"><img src="" alt=""></li>
        <li class="content__img"><img src="" alt=""></li>
      </ul>
      <ul class="content__list">
        <li class="content__img"><img src="" alt=""></li>
        <li class="content__img"><img src="" alt=""></li>
      </ul>
      <ul class="content__list">
        <li class="content__img"><img src="" alt=""></li>
        <li class="content__img"><img src="" alt=""></li>
      </ul>
    </nav>
  </section>
</template>
