.ecommerce {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: start;
  margin: 0;
  padding-top: 2rem;
  padding-bottom: 5rem;
  font-family: var(--ff-sans);
  color: var(--clr-purple);
  background-color: var(--bg-hero);
  background-image: linear-gradient(
      90deg,
      rgba(19, 67, 77, 0.7) 0%,
      rgba(86, 22, 91, 0.7) 100%
    ),
    var(--bg-hero);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ecommerce__title {
  margin: 0;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 2.6px;
  color: rgb(100, 80, 70);
  padding-left: 3rem;
  width: 30rem;
}

.ecommerce__title-2 {
  margin: 0;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 2.6px;
  color: var(--clr-white);
  padding-left: 3rem;
  width: 30rem;
}

.ecommerce__card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0rem 2rem;
  width: 50rem;
  height: 22rem;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 1rem;
  transition: transform 0.3s;
}

.ecommerce__card:hover {
  transform: translateY(-10px);
}

.ecommerce__card-2 {
  display: flex;
  flex-direction: row;
  width: 22rem;
  height: 22rem;
  border-radius: 1rem;
  background-image: url("assets/ecommerce1.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  transition: transform 0.3s;
}

.ecommerce__card-2:hover {
  transform: translateY(-10px);
}

.ecommerce__card-h2 {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 900;
  letter-spacing: 2.6px;
  color: rgb(0, 0, 0);
  padding-top: 3rem;
  padding-bottom: 1rem;
  padding-left: 3rem;
}

.ecommerce__card-button {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--clr-white);
  background-color: var(--clr-mocha);
  border: none;
  border-radius: 2rem;
  margin: 3rem;
  margin-top: 3.5rem;
  margin-bottom: 4rem;
  padding: 1rem 2rem;
  box-shadow: rgba(0, 3, 2, 0.16);
}

.ecommerce__card-button:hover {
  background-color: var(--clr-mocha-dark);
  box-shadow: rgba(0, 0, 0, 0.56) 2px 1px 20px 2px;
  color: var(--clr-white);
}

.ecommerce__card-image-size {
  width: 100%;
  height: 100%;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
