.hero {
    display: block;
    margin: 2rem auto;
    padding: 0;
    padding-bottom: 1rem;
    font-family: var(--ff-sans);
    color: var(--clr-white);
    text-align: center;
    background-color: var(--bg-hero);
    background-image: linear-gradient(
        90deg,
        rgba(19, 67, 77, 0.7) 0%,
        rgba(86, 22, 91, 0.7) 100%
    ),
    var(--bg-hero);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero__title {
    display: block;
    max-width: 12ch;
    margin: 0 auto;
    font-size: 4.5rem;
    font-weight: 700;
    letter-spacing: 2.6px;
    color: var(--clr-blue);
}

.hero__desc {
    display: block;
    max-width: 35ch;
    margin: 2rem auto;
    font-size: 1.375rem;
    font-weight: 500;
    line-height: 1.5;
    color: var(--clr-gray);
}

.hero__nav__4 {
    display: block;
    color: var(--clr-purple);
    background-color: var(--clr-white);
    font-family: var(--ff-sans);
    margin: 1rem;
}

.hero__nav__4-logo {
    display: block;
    margin-right: auto;
}

.hero__nav__4-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-right: auto;
}

.hero__nav__4-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.hero__nav__4-item {
    display: flex;
    justify-self: center;
    color: var(--clr-purple);
    text-decoration: none;
}

.hero__nav__4-item:hover {
    color: var(--clr-cyan);
}

.hero__nav__4-buton {
    display: inline-block;
    color: var(--clr-white);
    background-color: var(--clr-cyan);
    border-radius: 2rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

.hero__nav__4-buton-2 {
    display: inline-block;
    color: var(--clr-white);
    background-color: var(--clr-cyan);
    border: none;
    border-radius: 2rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
}

.hero__desc-2 {
    display: block;
    max-width: 35ch;
    margin: 1rem auto;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.5;
    color: var(--clr-cyan);
}

.hero__nav__4-buton:hover {
    background-color: var(--clr-blue);
}

.hero__nav__4-buton-2:hover {
    background-color: var(--clr-blue);
}
