<section class="hero">
  <nav class="hero__nav__4">
    <ul class="hero__nav__4-list">
      <div class="hero__nav__4-logo">
        <li><strong>{{logo}}</strong></li>
      </div>
      <div class="hero__nav__4-center">
        {{items}}
      </div>
      <div class="hero__nav__4-list">
        <li class="hero__nav__4-item">{{item}}
  
        </li>
        <li class="hero__nav__4-buton">{{button}}</li>
      </div>
    </ul>
  </nav>
      <h1 class="hero__title">{{title}}</h1>
      <p class="hero__desc">
        {{desc}}
      </p>
      <button class="hero__nav__4-buton-2">{{prices}}</button>
      <p class="hero__desc-2">{{desprice}}</p>
</section> 

    