.feature__2 {
  padding: 2rem 0 5rem;
  font-family: var(--ff-sans);
  color: var(--clr-purple);
  text-align: center;
  background-color: var(--bg-hero);
  background-image: linear-gradient(
      90deg,
      rgba(19, 67, 77, 0.7) 0%,
      rgba(86, 22, 91, 0.7) 100%
    ),
    var(--bg-hero);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.feature__2-title {
  margin: 2rem 0 0;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 2.6px;
  color: var(--clr-purple);
}

.feature__2-card {
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin-top: 3rem;
  width: 30rem;
  border: 0.3rem solid rgba(182, 182, 182, 0.274);
}

.feature__2-card-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature__2-card-flex-2 {
  display: flex;
  justify-self: center;
  flex-direction: column;
  align-items: center;
}

.feature__2-desc {
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 2px;
  color: var(--clr-gray);
  padding: 3rem 0 4rem;
}

.feature__2-desc-2 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 2px;
  color: var(--clr-gray);
  padding: 3rem 0 1rem;
  width: 70rem;
}

.feature__2-card-h2 {
  color: var(--clr-purple);
  font-size: 2rem;
  padding: 2rem 0 0;
}

.feature__2-card-h3 {
  color: var(--clr-purple);
  font-size: 1rem;
  font-weight: 900;
  letter-spacing: 2.6px;
}

.feature__2-card-button {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--clr-purple);
  background-color: var(--clr-white);
  border: 0.2rem solid var(--clr-gray);
  border-radius: 3rem;
  padding: 1rem 2rem;
  margin: 3rem 0;
}

.feature__2-card-button:hover {
  color: var(--clr-white);
  background-color: var(--clr-cyan);
  border: 0.2rem solid var(--clr-white);
}

.feature__2-card-image {
  width: 5rem;
  height: 5rem;
}
