.nav__5 {
    color: var(--clr-purple);
    background-color: var(--clr-white);
    font-family: var(--ff-sans);
    margin: 1rem;
}

.nav__5-logo {
    margin-right: auto;
}

.nav__5-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-right: auto;
    margin-left: auto;
}

.nav__5-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav__5-item {
    display: flex;
    justify-self: center;
    color: var(--clr-purple);
    text-decoration: none;
}

.nav__5-item:hover {
    color: var(--clr-pink);
}

.nav__5-buton {
    color: var(--clr-purple);
    background-color: var(--clr-transparent);
    border: solid rgba(156, 156, 156, 0.3) 0.2rem;
    border-radius: 2rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

.nav__5-buton:hover {
    background-color: var(--clr-pink);
}
