.nav__10 {
    color: var(--clr-white);
    background-color: var(--clr-purple);

    font-family: var(--ff-sans);
    margin: 1rem;
}

.nav__10-logo{
    margin-right: auto;
}

.nav__10-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-right: auto;
}

.nav__10-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav__10-item{
    display: flex;
    justify-self: center;
    color: var(--clr-white);
    text-decoration: none;
}

.nav__10-buton{
    background-color: var(--clr-cyan);
    border-radius: 2rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}


