.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colonnes */
  gap: 20px; /* Espacement entre les éléments */
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto; /* Centrer la galerie horizontalement */
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  overflow: hidden;
  text-align: center;

  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card h3 {
  font-size: 1.2em;
  margin: 10px 0 5px;
  color: #333;
  max-width: 8rem;
}

.card p {
  font-size: 0.9em;
  color: #666;
  margin-bottom: 10px;
  text-transform: uppercase;
}
