.pricing{
    margin: 2rem auto;
    padding-top: 2rem;
    padding-bottom: 5rem;
    font-family: var(--ff-sans);
    color: var(--clr-purple);
    text-align: center;
    background-color: var(--bg-hero);
    background-image: linear-gradient(
        90deg,
        rgba(19, 67, 77, 0.7) 0%,
        rgba(86, 22, 91, 0.7) 100%
      ),
      var(--bg-hero);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.pricing__title{
    margin:0;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 2.6px;
    color: var(--clr-purple);
    padding-left: 4rem;
    padding-right: 4rem;
}

.pricing__desc{
    font-size: 1.375rem;
    font-weight: 500;
    line-height: 1.5;
    color:var(--clr-gray);
    margin-top: 10px;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-bottom: 3rem;
}

.pricing__card{
    border: 3px solid rgb(196, 196, 196);
    border-radius: 1rem;
    margin: 0rem 20rem;
    padding: 1rem;
    justify-self: center;
}

.pricing__card-desc{
    color: var(--clr-gray);
    font-size: 1.375rem;
    font-weight: 500;
    padding-left: 5.5rem;
    padding-right: 5.5rem;
}

.pricing__card-h2{
    color: var(--clr-blue);
    padding-bottom: 1rem;
}

.pricing__card-h3{
    text-transform: uppercase;
    color: var(--clr-blue);
    font-size: 1rem;
    font-weight: 900;
    letter-spacing: 2.6px;
}

.pricing__card-button{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--clr-white);
    background-color: var(--clr-blue);
    border-radius: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-right: 3.5rem;
    padding-left: 3.5rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}