.nav__16 {
    color: var(--clr-white);
    background-color: var(--clr-purple);

    font-family: var(--ff-sans);
    margin: 1rem;
}

.nav__16-logo{
    margin-right: auto;
}

.nav__16-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav__16-item{
    display: flex;
    justify-self: center;
    color: var(--clr-white);
    text-decoration: none;
}

.nav__16-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-right: auto;
}

.nav__16-buton{
    background-color: var(--clr-purple);
    border: solid rgb(180, 169, 245, 30%) 0.2rem;
    border-radius: 2rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    margin-left: 1.5rem;
}
.nav__16-buton2{
    background-color: var(--clr-purple);
    border: solid rgb(180, 169, 245, 30%) 0.2rem;
    border-radius: 2rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
   
}
