.content__5 {
  margin: 2rem;
  padding: 5rem;
  font-family: var(--ff-sans);
  color: var(--clr-white);
  text-align: center;
  background-color: var(--bg-hero);
  background-image: linear-gradient(
    90deg,
    rgba(19, 67, 77, 0.7) 0%,
    rgba(86, 22, 91, 0.7) 100%
  ),
  var(--bg-hero);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.contents__5-desc {
  text-align: left;
  margin: 0;
  margin-left: 150px;
  margin-right: 150px;
  color: var(--clr-blue);
  font-size: 1.4rem;
}
