.content__6 {
  margin: 2rem;
  padding: 5rem;
  font-family: var(--ff-sans);
  color: var(--clr-white);
  text-align: center;
  background-color: var(--bg-hero);
  background-image: linear-gradient(
    90deg,
    rgba(19, 67, 77, 0.7) 0%,
    rgba(86, 22, 91, 0.7) 100%
  ),
  var(--bg-hero);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.contents__6-desc {
  text-align: left;
  margin: 0;
  margin-left: 8rem;
  margin-right: 6rem;
  color: var(--clr-blue);
  font-size: 1.4rem;
}

.contents__6-desc-2 {
  display: flex;
  text-align: left;
  padding: 0;
  max-width: 50%;
  text-transform: uppercase;
  color: rgb(173, 173, 173, 60%);
}

.contents__6-title {
  margin: 0;
  padding-left: 3rem;
  padding-right: 4rem;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 2.6px;
  color: var(--clr-blue);
}

.content__6-flex {
  display: flex;
  padding-left: 6rem;
  padding-right: 6rem;
}
